<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
    <h1>display_topics</h1>

    <table border="2px solid red">  
        <tr>
            <th>Topic_name</th>
        </tr>

    {% for to in QSTO %}

        <tr>
            <th>
                {{to.topic_name}}
            </th>
        </tr>




    {% endfor %}


    </table>
    </center>
</body>
</html>